.margincero{
    margin:0;
}

body, ul, li{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

body{
    background-color: #E9D8A6;
}

header{
    display: flex;
    background-color: #CA6702;
}

header h1{
    color:white;
    margin-left: 1em;
    font-size:3.5em;
}

@media (max-width: 700px){
    body, ul, li{
        font-size: 20px;
    }
}